<script type="text/javascript">
;(function($){
    var change_form = function(form, holder) {
        $.ajax({
            type: 'POST',
            url: "{{ postal_url }}",
            data: $(form).serialize(),
            success: function(response) {
                var data = JSON.parse(response);
                $(holder).replaceWith(data['postal_address']);
            },
            error: function(response) {
                alert(response);
            }
        });
    }
    
    $.fn.monitor_country_change = function(country_selector){
        $('body').on('change', country_selector, function() {
            var holder = $(this).closest('div.postal_address');
            var form = $(this).closest('form');
            change_form(form, holder);
        });

        window.addEventListener( "pageshow", function ( event ) {
          var historyTraversal = event.persisted ||
                                 ( typeof window.performance != "undefined" &&
                                      window.performance.navigation.type === 2 );
          if ( historyTraversal ) {
            var holder = $(country_selector).closest('div.postal_address');
            var form = $(country_selector).closest('form');
            change_form(form, holder);
          }
        });
    }
})(jQuery);
</script>